.button {
  width: 5.8rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 0.8rem;
  height: fit-content;
  border: 2px solid #ddd;
  outline: none;
  color: #555555;
}
.active {
  background-color: #1860d3;
  color: #fff;
  font-weight: 550;
}
