* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}
#main_block {
  width: 100%;
  padding-top: 5rem;
}

#main_inscription {
  margin: auto;
  width: fit-content;
  font-size: 8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
